[Dd]ebug/
[Rr]elease/
*.suo
*.user
*.pdb
*.pidb
*.vsp
*.ege
*.nupkg
*.user
*.bak
*.cache
*.scc

[Bb]in/
[Oo]bj/
*.log
*.tmp
*.zip
*.tar
*.gz

appsettings.Development.json
MapBackend.http

*.db
*.sqlite

.idea/
.vs/

.git/
.gitignore