# Build results
bin/
obj/
Debug/
Release/
x64/
x86/
[Bb]uild/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Temp files
*.tmp
*.temp
*.log
*.bak
*.ncb
*.opendb
*.VC.db
*.vscode/

# Publish output
publish/
out/

# Database
*.dbmdl
*.bak
*.mdf
*.ldf

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Rider / JetBrains
.idea/
*.iml

# Ignore secrets/configs (appsettings)
appsettings.json
appsettings.*.json

# Ignore local debug/test files
Properties/launchSettings.json
*.http

WebAPI.sln
WebAPI.csproj
WebAPI.http