.demo-page {    
  min-height: 100vh;    
  background: transparent;    
  color: white;  
}    

.demo-content {    
  position: relative;
  min-height: calc(100vh - 80px);    
  width: 100%;    
  display: flex;    
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}    

.demo-card-wrapper {    
  width: 400px;    
  display: flex;    
  align-items: center;    
  justify-content: center;    
  z-index: 1;
  transition: transform 0.3s ease;
}    

.demo-right-section {    
  position: absolute;
  top: 80px;
  left: calc(50% + 200px + 40px);
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease;
}    

.panel-card {    
  border-width: 1px;    
  border-color: #414141;    
  border-style: solid;    
  background: #161617;    
  border-radius: 20px;    
  box-shadow: 0 4px 24px rgba(66, 66, 66, 0.08);    
  padding: 24px 18px;    
  display: flex;    
  flex-direction: column;    
  align-items: flex-start;    
  width: 100%;  
}

.panel-card .header-row {    
  display: flex;    
  align-items: center;    
  gap: 6px;    
  margin-bottom: 12px;  
}    

.panel-card h2 {    
  margin: 0;    
  font-size: 0.9em;    
  font-weight: 350;    
  color: #ffffff;  
}    

.panel-card h4 {    
  margin: 0;    
  font-size: 0.8em;    
  font-weight: 300;    
  color: #cccccc;  
}    

.demo-saved-places-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.demo-saved-place {
  flex: 0 0 calc(25% - 8px);
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 0;
  color: white;
}

.saved-image-wrapper {
  position: relative;
  display: inline-block;
  width: 80px;     
  height: 80px;     
}

.saved-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  border-radius: 6px;
}

.saved-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.6); /* półprzezroczyste tło */
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 0 0 6px 6px;
}


@media (max-width: 870px) {    
  .demo-content {      
    flex-direction: column;      
    gap: 40px;      
    padding-top: 40px;
    align-items: center;
    justify-content: flex-start;
  }
  
  .demo-card-wrapper {
    width: 100%;
    max-width: 400px;
  }        
  
  .demo-right-section {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    max-width: 400px;
  }  
}

@media (max-width: 480px) {
  .demo-content {
    padding-left: 16px;
    padding-right: 16px;
  }
}